*{
    margin: 0;
    padding: 0;
}
.body{
background: linear-gradient(#C7E2FF, #E2F7F3);
}
.cabecalho {
    background-color: white;
    color: rgb(58, 52, 52);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 ;
}

.cabecalho-imagem{
    width: 10%;
    margin-left: 40px;
}

.cabecalho-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    color: #2C1F1F;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
}
.corpo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container1{
    display: flex;
    flex-direction: column;
}
.titulo{
    text-align: left;
    margin-top: 50px;  
    color: rgb(0, 0, 0);
    font-family: 'Abril Fatface', cursive;
}
.paragrafo{
    text-align: left;
    margin-top: 50px;
    font-family: 'Abril Fatface', cursive;
}
.section1-imagem{
    text-align: right;
    width: 44%;
}
.classroom-imagem{
    width: 7%;
}

.alunos-image{
    padding-top: 30px;
    margin-right: 220px;
    margin-bottom: 10px;
    width: 25%;

}
.alunos-container{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.footer{
    display: flex;
    justify-content:flex-end;
    align-items: end;
    background-color: #1D263B;
    bottom: 0;
    width: 100%;
    text-align: center;
}